<h1>Добавить курс</h1>

<form action="/add" method="POST">
    <div class="input-field col ">
        <input name="title"  id="name" type="text" class="validate" required>
        <label for="name">Ведите название курса</label>
        <span class="helper-text" data-error="Ведите название курса" ></span>
    </div>
    <div class="input-field col ">
        <input name="price"  id="price" type="number" class="validate" required >
        <label for="price">Ведите цену курса</label>
        <span class="helper-text" data-error="Ведите цену курса" ></span>
    </div>
    <div class="input-field col ">
        <input name="url"  id="url" type="text" class="validate" required>
        <label for="url">Ведите url изображения</label>
        <span class="helper-text" data-error="Ведите url изображения" ></span>
    </div>
    <button class="btn btn-primary">Добавить курс</button>
</form>